{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}

<div class="container"> 
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

 <h1 class="h3 mb-3 font-weight-normal">Please Register!</h1>
{{ form_start(form) }}
    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
    <br>
    {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
    <br>
    {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
    <br>
    <button type="submit" class="btn btn-lg btn-primary">Register!</button>
{{ form_end(form) }}
</div>
{% endblock %}
